# dependencies
node_modules/
.pnp/
.pnp.js

# output
tmp/
dist/

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# JetBrains IDE files
# [ User-specific stuff ]
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# [ Cache file creation bug ]
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# [ Plugins ]
.idea/discord.xml
